* {
  padding: 0;
  margin: 0;
}

:root {
  --navColor: #0a6aad;
  --buttonAddColor: #ffd802;
  --white: #fff;
  --whiteSecundary: #eee;
  --deleteButton: rgb(232, 10, 10);
  --deleteButtonHover: rgb(210, 0, 0);
}

.input {
  padding: 5px;
  outline: none;
  width: 90%;
  margin: 10px 0;
}

.button {
  border: 0;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}

.select {
  font-weight: bold;
  padding: 0 10px;
  margin-left: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
}
